.container__caixa{
    border:1.5px solid rgb(23,23,23);
    margin:1rem;
   
}
section .h2{
    text-align: center;
}

#x{
    display:flex;
    justify-content: space-around;
    padding:1rem;
}    

.container__caixa h3{
    text-align: center;
    width:calc(100%-2rem);
    padding:0.7rem;
    font-size:2.7rem
}
.container__titulo{
    display:flex;
    align-items: center;
    justify-content: space-around;
   
}
.taca{
    display:flex;
    justify-content: space-around;
}
.imagem{
    margin:3rem;
    max-width:100%;
    max-height:170px
}
.li{
   list-style: none;
    text-align: center;
    font-size: 1.7rem;
    padding:0.5rem;
}
@media (min-width:0) {
   
    .container__titulo{
        justify-content: center;
        flex-direction: column;
    }
    #taça{
       margin-left: 35%;
    }
    
}
@media (min-width:800px){
    
    
    .alinhamento{
        display:flex;
        justify-content:center;
    }
    
    .container__titulo{
        flex-direction:row ;
    }
} 
@media (min-width:900px){
    .container__caixa{
        width: 46%;
    }
    .titulos{
        display:flex;
        flex-wrap: wrap;
    }
    .libertadores{
        width:100%
    }
    .imagem{
        max-height: 350px;
    }
    .alinhamento{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}